/* @override
	http://head.hesge.ch/mastertrans/wp-content/themes/trans/style.css?ver=4.4.1 */

/*
Theme Name: Biblio HEAD
Theme URI: 
Template: libre
Author: HEAD InfoLab
Author URI: 
Description:
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: tonal
Domain Path: /languages/
Tags: white, black, one-column, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, flexible-header, post-formats, rtl-language-support, sticky-post, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Tonal is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/

/* correctif formidable */

.frm_hidden, input.frm_hidden {
	display: none;
}



.widget .textwidget a:hover {
	text-decoration: none;
}



#page.site {
	margin-top: 0;
}

#masthead.site-header {
/*	margin-bottom: 0;*/
}

.site-header .site-branding {
	max-width: 100%;
}


/* Logo HEAD */

.head-logo {
	margin-top: 0;
	position: absolute;
	top: 30px;
	left: 0;
	border: 0px solid #333;
	display: none;
	/*
	 * Note: en mode écran large, ce bloc 
	 * va constituer toute la marge de gauche!
	 */
}

.head-logo-link {
	width: 101px;
	height: 57px;
	display: block;
	border: 0px solid #fff;
	position: relative;
	z-index: 99;
	
}

.head-logo-link img {
	width: 100%;
	height: auto;
	display: block;
}


@media screen and (min-width: 30em) {
	
	#page.site {
		margin-top: 3.5em;
	}
	
	.head-logo {
		display: block;
	}
	
	.site-header {
		padding-left: 140px;
	
	}
	
	.sticking .head-logo {
		/*top: 0.5em;*/
		display: none;
	}
	
	
	.sticking .site-header  {
		padding-left: 0px;
	}
	

}

@media screen and (min-width: 45em) {
	
	#page.site {
		margin-top: 5.25em;
	}
	

	.site-header .site-branding {
		width: 100%;
	}
	.site-header .main-navigation {
		width: 100%;
		text-align: left;
		margin-top: 1em;
		font-size: 120%;
	}
	
	.site-header .main-navigation li:first-of-type {
		margin-left: 0;
		
	}
	
	
}

@media screen and (min-width: 55em) {
	
	#page.site {
		margin-top: 7em;
	}
}

@media screen and (min-width: 70em) {

	
}

.site-header .site-branding {
    width: 100%;
    display: block;
}


